node_gyp="C:\Program Files\nodejs\node_modules\npm\node_modules\node-gyp\bin\node-gyp.js" 
msbuild_path="D:\VStu\MSBuild\Current\Bin\MSBuild.exe" 
python="C:\Users\ihilo\AppData\Local\Programs\Python\Python311\python.exe" 
